.titulo {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .buscador {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
  }
  
  
  .movies {
    margin-bottom: 1rem;
  }
  
  .title-movie {
    text-align: center;
  }

  .movie-details {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .movie-image {
    margin-left: 150px;
  }
  
  .movie-info {
    flex: 1; 
    margin-right: 150px;
  }
  
  .movie-info h2 {
    margin-top: 0;
  }
  
  .movie-info p {
    margin-bottom: 0.5rem;
  }
  
  
  